@page "/backup/{Data}"
@using Microsoft.AspNetCore.Components.Forms
<style>
    .mod {
        width: 400px;
    }
</style>

<div class="flex-column mod mod-box">
    <h4 class="d-flex justify-content-center">@Title</h4>
    <EditForm Model="Model" FormName="Backup">
        <div class="form-group d-flex flex-column">
            <br />
            <InputText @bind-Value="InputText" style="height:25px;">Text Here
            </InputText>
            <br />
            <select @bind="Model">
                @if (Files.Count != 0)
                {
                    foreach (string f in Files)
                    {
                        <option value="@f">@f</option>
                    }
                }
            </select>
        </div><br />
        @if (ErrorMessage != null)
        {
            <div class="alert alert-danger">@ErrorMessage</div>
        }
        <button type="button" class="btn btn-sm btn-primary" @onclick="SubmitAsync">Submit</button>
    </EditForm>
</div>

