@using Credo.Models
@rendermode InteractiveServer

<hr id="menu" style="height:4px;background-color: #bf9f00; margin: 0px;" />
<div class="menubar">
    <a class=men href="/">Credo</a>

    <ul>
        <li>
            <a class=men href="#">Admin</a>
            <ul class=sub>
                <li><a href="backup/Backup">Backup</a></li>
                <li><a href="backup/Restore">Restore</a></li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <a class=men href="#">Export</a>
            <ul class=sub>
                <li><a href="#" @onclick="ExportSecurities">Securities to Csv</a></li>
                <li><a href="#" @onclick="ExportTickers">Tickers to Csv</a></li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <a class=men href="import">Import</a>
        </li>
    </ul>

    <ul>
        <li>
            <a class=men href="#">View</a>
            <ul class=sub>
                <li><a href="portfolio" title="View Portfolio'">Portfolio</a></li>
                <li><a href="securities" title="Update Securities and View Securities'">Securities</a></li>
                <li><a href="transactions" title="View Transactions'">Transactions</a></li>
                <li><a href="tickers" title="View Tickers'">Tickers</a></li>
                <li><a href="transactions/dp" title="View Tickers'">Fees</a></li>
                <li><a href="expenses" title="View Expenses">Expenses</a></li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <a class=men href="#">Update</a>
            <ul class=sub>
                <li><a href="#" @onclick="updates.UpdateSecuritiesAsync" @onclick:preventDefault="true" title="Update Securities Price and Portfolio">Securities & Portfolio</a></li>
                <li><a href="#" @onclick="UpdateSecuritiesXIRR" @onclick:preventDefault="true">SecuritiesXIRR</a></li>
                <li><a href="#" @onclick="updates.UpdatePortfolioAsync" @onclick:preventDefault="true">Portfolio</a></li>
                <li title="From YahooFinance get all the Tickers History and Save last day of Month's data in Db History table"><a href="#" @onclick="updates.UpdateHistoryAsync" @onclick:preventDefault="true">Securities History</a></li>
                <li @onclick="Test">Test</li>
            </ul>
        </li>
    </ul>

        <a class="men ms-4" @onclick="Close">Close</a>
 
   
</div>
<hr class=hrbottom />

